@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4w27o');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4w27o#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?4w27o') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?4w27o') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?4w27o##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gi-"], [class*=" gi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gi-hornet {
  &:before {
    content: $gi-hornet; 
  }
}
.gi-manhunt {
  &:before {
    content: $gi-manhunt; 
  }
}
.gi-gayromeo {
  &:before {
    content: $gi-gayromeo; 
  }
}
.gi-a4a {
  &:before {
    content: $gi-a4a; 
  }
}
.gi-grindr-wordmark {
  &:before {
    content: $gi-grindr-wordmark; 
  }
}
.gi-grindr {
  &:before {
    content: $gi-grindr; 
  }
}
.gi-nkp {
  &:before {
    content: $gi-nkp; 
  }
}
.gi-oink {
  &:before {
    content: $gi-oink; 
  }
}
.gi-recon {
  &:before {
    content: $gi-recon; 
  }
}
.gi-bbrt {
  &:before {
    content: $gi-bbrt; 
  }
}
.gi-bbrt-mobile {
  &:before {
    content: $gi-bbrt-mobile; 
  }
}
.gi-sniffies {
  &:before {
    content: $gi-sniffies; 
  }
}
.gi-scruff {
  &:before {
    content: $gi-scruff; 
  }
}
.gi-of {
  &:before {
    content: $gi-of; 
  }
}
.gi-jff {
  &:before {
    content: $gi-jff; 
  }
}
.gi-tim {
  &:before {
    content: $gi-tim; 
  }
}
.gi-falcon {
  &:before {
    content: $gi-falcon; 
  }
}
.gi-naked-sword {
  &:before {
    content: $gi-naked-sword; 
  }
}
.gi-pornhub {
  &:before {
    content: $gi-pornhub; 
  }
}
.gi-sean-cody {
  &:before {
    content: $gi-sean-cody; 
  }
}
.gi-helixstudios {
  &:before {
    content: $gi-helixstudios; 
  }
}
.gi-belami {
  &:before {
    content: $gi-belami; 
  }
}
.gi-google-voice {
  &:before {
    content: $gi-google-voice; 
  }
}
.gi-burner {
  &:before {
    content: $gi-burner; 
  }
}
.gi-textnow {
  &:before {
    content: $gi-textnow; 
  }
}

