@font-face {
  font-family: 'gay-web-icons';
  src:  url('fonts/gay-web-icons.eot?4w27o');
  src:  url('fonts/gay-web-icons.eot?4w27o#iefix') format('embedded-opentype'),
    url('fonts/gay-web-icons.ttf?4w27o') format('truetype'),
    url('fonts/gay-web-icons.woff?4w27o') format('woff'),
    url('fonts/gay-web-icons.svg?4w27o#gay-web-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gi-"], [class*=" gi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gay-web-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gi-hornet:before {
  content: "\e903";
}
.gi-manhunt:before {
  content: "\e904";
}
.gi-gayromeo:before {
  content: "\e905";
}
.gi-a4a:before {
  content: "\e906";
}
.gi-grindr-wordmark:before {
  content: "\e90a";
}
.gi-grindr:before {
  content: "\e90d";
}
.gi-nkp:before {
  content: "\e90f";
}
.gi-oink:before {
  content: "\e910";
}
.gi-recon:before {
  content: "\e911";
}
.gi-bbrt:before {
  content: "\e912";
}
.gi-bbrt-mobile:before {
  content: "\e915";
}
.gi-sniffies:before {
  content: "\e913";
}
.gi-scruff:before {
  content: "\e907";
}
.gi-of:before {
  content: "\e908";
}
.gi-jff:before {
  content: "\e909";
}
.gi-tim:before {
  content: "\e90b";
}
.gi-falcon:before {
  content: "\e90c";
}
.gi-naked-sword:before {
  content: "\e90e";
}
.gi-pornhub:before {
  content: "\e914";
}
.gi-sean-cody:before {
  content: "\e918";
}
.gi-helixstudios:before {
  content: "\e91c";
}
.gi-belami:before {
  content: "\e91d";
}
.gi-google-voice:before {
  content: "\e900";
}
.gi-burner:before {
  content: "\e901";
}
.gi-textnow:before {
  content: "\e902";
}
