$icomoon-font-family: "gay-icons" !default;
$icomoon-font-path: "fonts" !default;

$gi-grindr-wordmark: unquote('"\\e90a"');
$gi-grindr-wordmark-color-path1: unquote('"\\e90b"');
$gi-grindr-wordmark-color-path2: unquote('"\\e90c"');
$gi-grindr: unquote('"\\e90d"');
$gi-grindr-color: unquote('"\\e90e"');
$gi-nkp: unquote('"\\e90f"');
$gi-oink: unquote('"\\e910"');
$gi-recon: unquote('"\\e911"');
$gi-bbrt: unquote('"\\e912"');
$gi-sniffies: unquote('"\\e913"');
$gi-pornhub-path1: unquote('"\\e914"');
$gi-pornhub-path2: unquote('"\\e915"');
$gi-pornhub-color-path1: unquote('"\\e916"');
$gi-pornhub-color-path2: unquote('"\\e917"');
$gi-sean-cody-path1: unquote('"\\e918"');
$gi-sean-cody-path2: unquote('"\\e919"');
$gi-sean-cody-color-path1: unquote('"\\e91a"');
$gi-sean-cody-color-path2: unquote('"\\e91b"');
$gi-helixstudios: unquote('"\\e91c"');
$gi-belami: unquote('"\\e91d"');
$gi-google-voice: unquote('"\\e900"');
$gi-burner: unquote('"\\e901"');
$gi-textnow: unquote('"\\e902"');
$gi-google-voice-color-path1: unquote('"\\e903"');
$gi-google-voice-color-path2: unquote('"\\e904"');
$gi-google-voice-color-path3: unquote('"\\e905"');
$gi-google-voice-color-path4: unquote('"\\e906"');
$gi-google-voice-color-path5: unquote('"\\e907"');
$gi-google-voice-color-path6: unquote('"\\e908"');
$gi-google-voice-color-path7: unquote('"\\e909"');

