$icomoon-font-family: "gay-web-icons" !default;
$icomoon-font-path: "fonts" !default;

$gi-hornet: unquote('"\\e903"');
$gi-manhunt: unquote('"\\e904"');
$gi-gayromeo: unquote('"\\e905"');
$gi-a4a: unquote('"\\e906"');
$gi-grindr-wordmark: unquote('"\\e90a"');
$gi-grindr: unquote('"\\e90d"');
$gi-nkp: unquote('"\\e90f"');
$gi-oink: unquote('"\\e910"');
$gi-recon: unquote('"\\e911"');
$gi-bbrt: unquote('"\\e912"');
$gi-bbrt-mobile: unquote('"\\e915"');
$gi-sniffies: unquote('"\\e913"');
$gi-sniffies-filled: unquote('"\\e916"');
$gi-scruff: unquote('"\\e907"');
$gi-of: unquote('"\\e908"');
$gi-jff: unquote('"\\e909"');
$gi-jff-filled: unquote('"\\e917"');
$gi-4mf: unquote('"\\e919"');
$gi-tim: unquote('"\\e90b"');
$gi-falcon: unquote('"\\e90c"');
$gi-naked-sword: unquote('"\\e90e"');
$gi-pornhub: unquote('"\\e914"');
$gi-sean-cody: unquote('"\\e918"');
$gi-helix-studios: unquote('"\\e91c"');
$gi-belami: unquote('"\\e91d"');
$gi-google-voice: unquote('"\\e900"');
$gi-burner: unquote('"\\e901"');
$gi-textnow: unquote('"\\e902"');

