# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "cdn"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: CDN
      url: https://cdn.gaywebicons.xyz
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.0.100'
      - id: Deploy to Azure CDN
        uses: cedric05/upload-to-azure-blob-storage@v1
        with:
            source-file: ./**/*.* # source file to upload
            base-project-path: ./ # az backup directory
            target-file: ./ # az target file name
            overwrite: 'true' #optional
            container-name: cdn # az storage container name
            storage-account-name: gaywebicons # az storage account name
            creds: ${{ secrets.AZ_CREDS }} # az create rbac output
